* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'open sans', sans-serif;
  padding-top: 80px;
  box-sizing: border-box;
}
/*** mainnav-----*/
.mr-auto {
  margin-left: 500px;
}
/**---- menunav--*/
.mainnav {
  padding-top: 20px;
}
.side {
  background-color: #343a40;
}
.side ul li a {
  color: #fff;
}
/**--- Nav ***/
.cbp-af-header-shrink {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
}
/*-----index-----*/
.contframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}
#myIframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
/**---reusable--*/
ul li {
  list-style: none;
}
/*** blog--*/
.scontainer {
  padding: 10px 10px;
}
/*------album section-----*/
#myIframe {
  padding: 10px 10px;
}
.row div li {
  list-style: none;
  margin: 4px 2px;
}
.albumShowcase div li {
  padding-left: 0px;
}

.ablumPhoto {
  margin: 0;
  width: 50%;
  overflow: hidden;
  background-color: #000;
  margin-left: 20px;
  border-radius: 8px;
}
.ablumPhoto img {
  width: 25%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}
.ablumPhoto img:hover {
  transform: scale(1.03);
  opacity: 1;
}
/*---- Features----*/
.updates h3 {
  word-spacing: 2px;
  width: 120px;
  height: 70px;
  border: 1px solid rgb(167, 134, 134);
  border-radius: 8px;
  text-align: center;
  background-color: rgb(219, 201, 219);
  display: inline-block;
}
/*------FOOTER-----*/
.fcontainer {
  background-color: #343a40;
  color: #fff;
}
.socialLinks .media {
  float: right;
}
.socialLinks .media li {
  padding: 0 20px;
}
/* Inline style div.col-sm-9 */
div.col-sm-9 {
  padding-left: 0px;
  padding-right: 0px;
}
/*--------contact form----------*/
.contactform {
  width: 80%;
  margin: 8px 8px;
  background-color: #f2f2f2;
}
.contact-form {
  width: 97%;
  padding: 20px 10px;
}
input[type='file'] {
  border: 1px solid #ccc;
}
input[type='text'],
#emailInput,
#categoryList,
select,
textarea {
  width: 97%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 150px;
}

*:focus {
  outline: none;
}
input[type='submit'] {
  width: 25%;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(106, 106, 139);
  color: white;
  border-radius: 3px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
}
input:required {
  content: '*';
  color: red;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #c33;
  border-color: #c33;
}
.textlabel {
  margin: 4px 0;
  padding-bottom: 4px;
}

datalist {
  display: none;
  content: 'V';
  color: #343a40;
}
/*--Volunteer-page----*/
.volunteerForm {
  padding: 0 10px;
  background-color: #f2f2f2;
}
h2,
P {
  margin-bottom: 10px;
  text-align: left;
}
.volunteer {
  width: 75%;
  margin: 0 3px;
}
.volunteerForm P {
  margin: 7px 5px;
  padding: 3px 0;
}
.volunteerForm P .textlabel {
  margin-bottom: 7px;
}

.checkbox {
  display: inline-block;
  margin-left: 40px;
}
.address {
  padding: 0 10px;
  border-radius: 3px;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 97%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
#city,
#state,
#post,
#country {
  margin: 2px 140px;
  width: 50%;
  float: right;
  padding: 3px 10px;
}
/***---signin ----*/
.formSignin {
  width: 500px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.signinForm {
  box-sizing: border-box;
  border: 1px solid #343a40;
  padding: 9px 9px;
  margin: 5px 5px;
  height: 400px;
}
#inputPassword,
#inputEmail {
  padding: 12px 3px;
  width: 100%;
  border: 1px solid #ccc;
}
label {
  padding-left: 4px;
}
.btnClass,
#signUp {
  width: 50%;
  margin-left: 65px;
  margin-bottom: 35px;
  font-size: 20px;
  background-color: rgb(106, 106, 139);
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
}
#signin > h4 {
  margin-left: 69px;
  margin-top: 85px;
  margin-bottom: 0px;
}
/*-----signup------*/
.signupForm {
  width: 500px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.signupform {
  border: 1px solid #343a40;
  padding: 5px 5px;
  margin: 5px 5px;
  height: 400px;
}
#userName,
#password,
#confirm {
  padding: 12px 9px;
  width: 100%;
  box-sizing: border-box;
}
.createbtn {
  width: 70%;
  margin: 12px 54px;
  font-size: 20px;
  background-color: rgb(106, 106, 139);
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
}
/***-----artist------**/
.artist-form {
  background-color: #f2f2f2;
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #343a40;
  margin: 5px 5px;
  padding: 5px 9px;
}
.artist {
  margin: 5px 5px;
  padding: 5px 9px;
}
#artistxt,
#nickname {
  width: 100%;
  box-sizing: border-box;
}
#free {
  margin: 5px 5px;
  padding: 5px 9px;
  box-sizing: border-box;
}
.artistbtn {
  width: 140px;
  font-size: 16px;
  background-color: rgb(106, 106, 139);
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
}
#savepage {
  margin-left: 5px;
}
/*----lyrics-submition----*/
.lyrics {
  margin: 0 4px;
  width: 60%;
  box-sizing: border-box;
}
.submitionForm {
  background-color: #f2f2f2;
  margin: 8px 8px;
  padding: 8px 8px;
}
div > h4,
h6 {
  margin: 3px 7px;
}
/**----Classics---*/

table {
  width: 100%;
  padding: 4px 4px;
  margin: 0 2px;
  border-spacing: 5px;
}
tbody {
}
tr {
  vertical-align: inherit;
  box-sizing: inherit;
  padding: 0 2px;
}
.td {
  padding: 0 auto;
  font-size: 115%;
  display: table-cell;
}
.dataalbum {
  padding: 4px 10px;

  margin: 0;
}
ol {
  box-sizing: content-box;
  margin-left: 16px;
}
ol li {
}
.addArtist {
  float: right;
  margin-right: 90px;
}
/*----album-setting----*/
.albumSection {
  margin: 0 4px;
  padding: 2px 4px;
  box-sizing: border-box;
}
.ablumimg {
  padding: 34px 0;
}
